body{
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-frame{
    width: 150vh;
    height: 80vh;
    background-color:cadetblue;
    margin: 40px;
    padding: 5px;
    display: flex;
}

.add-player-container{
    margin: 20px;
}

#list {
    height: 300px;
    width: 200px;
    background-color: white;
    display:flex;
    
    flex-direction: column;
}

#list > li{
    margin-left: 10px;
    margin: 10px, 10px;
    cursor: pointer;
}

#list > li:hover{
    background-color: aqua;
    
}

.player-selected {
    background-color: aqua;
}

.current-game{  
    height: 200px;
    width: 200px;
    background-color: red;
}
