body{
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main-frame{
    width: 150vh;
    height: 80vh;
    background-color:cadetblue;
    margin: 40px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.add-player-container{
    margin: 30px 30px 30px 30px;
}

.add-players-btns{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-players-btns button {
    font-size: smaller;
    border-radius: 10px;
    font-family: inherit;
}

#list {
    height: 300px;
    width: 200px;
    background-color: white;
    overflow-y: scroll;
    margin-left: 20px;
}

#list > li{
    margin-left: 10px;
    margin: 10px, 10px;
    cursor: pointer;
}

#list > li:hover{
    background-color: #3468C0;
    font-weight: bold;
    
}

.player-selected {
    background-color: #3468C0;
    font-weight: bold;
}

.current-game{
    height: 200px;
    width: 250px;
    margin: 30px;
    
}

.current-game-btns{
    display: flex;
}

.current-game button{
    width: 50%;
    margin-bottom: 20px;
    font-family: inherit;
    border-radius: 10px;
    font-size: 11px;
    margin: 5px
}
.current-game-container{
    height: 70%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    font-size: 12px;
    
}

#teamA{
    width: 50%;
    background-color: rgb(255, 30, 0);
    margin: 10px;
    
}

#teamB{
    width: 50%;
    background-color: rgb(20, 212, 6);
    margin: 10px;
    
}
