body{
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main-frame{
    width: 150vh;
    height: 80vh;
    background-color:rgba(18, 131, 136, 0.5);
    margin: 40px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.add-player-container{
    margin: 30px 30px 30px 30px;
}

.add-players-btns{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-players-btns button {
    font-size: smaller;
    border-radius: 10px;
    font-family: inherit;
}

#list {
    height: 300px;
    width: 200px;
    background-color: white;
    overflow-y: scroll;
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;}

li{
    margin-left: 10px;
    margin: 10px, 10px;
    cursor: pointer;
}

li:hover{
    background-color: #04040437;
    font-weight: bold;
    
}

.player-selected {
    background-color: #04040437;
    font-weight: bold;
}

.current-game{
    height: 200px;
    width: 250px;
    margin: 30px;
    
}

.current-game-btns{
    display: flex;
}

.current-game button{
    width: 50%;
    margin-bottom: 20px;
    font-family: inherit;
    border-radius: 10px;
    font-size: 11px;
    margin: 5px
}
.current-game-container{
    height: 70%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    font-size: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#teamA{
    width: 50%;
    background-color: rgba(169, 167, 167, 0.467);
    margin: 10px;
    
}

#teamB{
    width: 50%;
    background-color: rgba(169, 167, 167, 0.467);
    margin: 10px;
    
}

button{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#winner-team-btn {
    width: 100%;
}